/**

//HTML5 Boilerplate + Normalize
*= require "_vendor/normalize.css"
*= require "_vendor/html5bp.css"

//Grid
*= require "_layout/grid"

*/

body {
    min-width: 640px;
}

header.title {
    background: #1a1a1a;
    color: white;
    width: 100%;
    heigh: 50px;
    padding: 10px;
    position: fixed;
    z-index: 1;

    a {
	color: white;
	text-decoration: none;
    }

    #title {
	color: white;
	font: bold 30px arial, sans-serif;
	margin: 0;
	display: inline;	
    }

    #menu {
	display: inline;
	float: right;
	margin-right: 10px;

	h2 {
	    display: inline;
	    margin-right: 20px;
	}
    }
}

footer {
    background: #1a1a1a;
    color: white;
    width: 100%;
    height: 400px;
    padding-top: 50px;

    #more {
	margin-left: 20%;
	margin-right: 20%;
    }
}

section {
    > .content {
	width: 100%;
	float: left;
    }
    
    > .background {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: -1;
	
	> img.background {
	    width: 100%;
	}
    }
}

#welcome {
    font-family: georgia, serif;
    font-size: 300%;
    font-style: italic;
    font-weight: bold;
    color: white;
    max-width: 100%;

    .first {
	float: left;
	margin: 15% 50% 10% 15%;
    }

    .second {
	text-align: right;
	float: right;
	margin: 15% 10% 15% 15%;
    }

    > .background {
	background: #1a1a1a;

	> img.background {
	    filter: blur(25px);
	    -webkit-filter: blur(25px);
	    -moz-filter: blur(25px);
	}
    }
}

#about {
    font-family: arial, sans-serif;
    font-size: 200%;
    font-style: normal;
    font-weight: normal;
    color: grey;

    > .content {
	margin-top: 70px;
    }

    > .background {
	backrgound: white;

	> img.background {
	    opacity: 0.10;
	}
    }
}

#play {
    background: #1a1a1a;
    color: white;
    font: normal bold 200% arial, sans-serif;
    position: absolute;
    top: 45%;
    left: 45%;
    margin: 0;
    border: 3px solid white;
    padding: 0 5px 0 10px;
    border-radius: 25%;
}

a.down.to_about {
    &:hover {
	cursor: pointer;
    }

    img.down  {
	position: absolute;
	left: 90%;
	top: 85%;
	width: 64px;
	height: 64px;
    }
}

a.up {
    &:hover {
	cursor: pointer;
    }

    img.up  {
	position: absolute;
	left: 90%;
	top: 110%;
	width: 64px;
	height: 64px;
	opacity: 0.50;
    }
}

a.down.to_more {
    &:hover {
	cursor: pointer;
    }

    img.down  {
	position: absolute;
	left: 90%;
	top: 185%;
	width: 64px;
	height: 64px;
	opacity: 0.50;
    }
}