---
intro_first: '&ldquo;Migrating...'
intro_second: '...toward simplicity.&rdquo;'
intro_third: '实<br/>事<br/>求<br/>是'
about:
  - Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  - Phasellus cursus nulla ac metus vestibulum porta.
  - Proin in sapien id purus elementum vehicula.
  - Nulla feugiat purus eu nulla dapibus tempus.
  - Vestibulum gravida justo vel mi fermentum consectetur.
---

%section#welcome
  %a{ :name => 'welcome' }
  %div.content
    %div.row
      %div.text.first= current_page.data.intro_first
    %div.row
      %div.text.second= current_page.data.intro_second
    %div.row
      %div.text.third= current_page.data.intro_third
    %a.down.to_about
      %img.down{ :src => '/images/down_white.png' }
  %div.background
    %img.background{ :src => '/images/niutoushan.jpg' }

%section#about
  %a{ :name => 'about' }
  %div.content
    - current_page.data.about.each do |item|
      .text= item
    %a.up
      %img.up{ :src => '/images/up_black.png' }
    %a.down.to_more
      %img.down{ :src => '/images/down_black.png' }
      
  %div.background
    %img.background{ :src => '/images/shanghai.jpg' }
