---
title: 'About'
intro_first: '"Simplicity...'
intro_second: '...is the only way."'
---

%section#introduction
  %div.row
    %div.text.first= current_page.data.intro_first
  %div.row
    %div.text.second= current_page.data.intro_second

%section.more
