---
intro_first: '"Simplicity...'
intro_second: '...is the only way."'
about:
  - Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  - Phasellus cursus nulla ac metus vestibulum porta.
  - Proin in sapien id purus elementum vehicula.
  - Nulla feugiat purus eu nulla dapibus tempus.
  - Vestibulum gravida justo vel mi fermentum consectetur.
---

%section#welcome
  %a{ :name => 'welcome' }
  %div.content
    %div.row
      %div.text.first= current_page.data.intro_first
    %div.row
      %div.text.second= current_page.data.intro_second
    %a.down
      %img#down{ :src => '/images/down.png' }
  %div.background
    %img.background{ :src => '/images/niutoushan.jpg' }

%section#about
  %a{ :name => 'about' }
  %div.content
    - current_page.data.about.each do |item|
      .text= item
    %a.up
      %img#up{ :src => '/images/up.png' }
  %div.background
    %img.background{ :src => '/images/shanghai.jpg' }
